/* splashscreen.css */

/* Splash Screen Styling */
#splash-screen {
    position: fixed;  /* Fix it to the screen */
    top: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background: linear-gradient(45deg, #00E784, #A6EDF2); /* Gradient from #00E784 to #A6EDF2 */
    background-size: 400% 400%; /* Makes the gradient large enough to move */
    animation: gradientMove 5s ease infinite; /* Animate the gradient movement */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's on top of all other elements */
    transition: opacity 1s ease-in-out; /* Fade out effect */
}
#logo {
    width: 150px;
    height: auto;
    animation: fadeIn 1s ease-in-out;
}

/* Animation for fadeIn */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Main Content Fade In */
#main-content {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}